{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}

{% block content %}


  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{% trans 'Task manager' %}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{% trans 'Welcome to task manager' %}</h1>
      </div>
    </div>
  </div>


{% endblock %}
